.section{
    background-color: #0000ff;
    height: 500px;
}
.section1{
    background-color: greenyellow;
    height: 500px;
}
.section2{
    background-color: gray;
    height: 500px;
}
.section3{
    color: #b4b8ee;
}